
.btn-primary {
    background-color: #FF9900;
    border: 0px;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #c47806;
}

.btn-secondary {
    background: none;
    border: 1px solid #bcd0e5;
    font-size: 16px;
    font-weight: bold;
    color: #173a56;
}

.btn-secondary:hover {
    background: none;
    border: 1px solid #8693a1;
    color: #173a56;
}
.jumbotron {   
    background-color: #ffffff;
}

.jumbotron h1 {
    font-family: 'Poppins';
    font-weight: 700;
}

.jumbotron p {
    font-family: 'Poppins';
    font-weight: 400;
}

.navbar-nav .nav-link {
    color: #2f281e; 
}


@media (max-width: 1024px) { 
    .btn-primary,.btn-secondary {
        margin-top:10px;
        margin-left:0px !important;
    }
 }
